extends layout

//- include 2048.html

block content
	h1= title
	body(onload = "getData()")
		script(src="/javascripts/2048.js")

	canvas#canvas1(width="700" height="700")


	button.btn(onclick="displayData()") Awesome
